<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
   <title>Home </title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
</head>
<body>

	<button class="btn" onclick="logout()" type="button">logout</button>
	<div class="form" >
    <form class="login-form" id = "login-form" action="#" th:action="@{/calculateSI}" th:object="${simpleInterest}" method="post">
		<input placeholder="princial" type="number" step="any" th:field="*{principal}"  th:required="true"/>
		<input placeholder="rate" type="number" step="any" th:field="*{rate}"  th:required="true"/>
		<input placeholder="time" type="number" step="any" th:field="*{time}"  th:required="true"/>
		<input type="hidden" th:field="*{userId}" />
		<button type="submit" value="calculate">calculate Simple Interest</button>
    </form>
	</div>
	
	<div class="table table-responsive">
		<table
			class="table table-bordered dataTable" id="interestTable">
			<thead>
				<tr>
					<th>Date</th>
					<th>Principal</th>
					<th>Rate</th>
					<th>Time</th>
					<th>Simple Interest</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="interest: ${interests}">
					<td th:text="${interest.createdAt}"></td>
					<td th:text="${interest.principal}"></td>
					<td th:text="${interest.rate}"></td>
					<td th:text="${interest.time}"></td>
					<td th:text="${interest.interest}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script type="text/javascript">
	function logout() {
		window.location.href = "logout";
	}
</script>
</html>

