<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
   <title>Login </title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
   <link  rel="stylesheet" th:href="@{app.css}" type="text/css"></link>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    
	
</head>
<body>
	<div class="wrapper" >
    <form class="form-signin" id = "login-form" action="#" th:action="@{/login}" th:object="${user}" method="post">
    	<h2 class="form-heading">Please login</h2>
		<input placeholder="email" class="form-control" type="text" th:field="*{email}"  th:required="true"/>
		<input placeholder="password" class="form-control" type="password" th:field="*{password}"  th:required="true"/>
		<button class="btn btn-lg btn-primary btn-block"  type="submit" value="Login">login</button>
		<div th:if="${status} == 'failed'">
    		<span style="color:red" >Authentication failed !</span>
    	</div> 
		<p class="message">Not registered? <a th:href="@{/signUp}">Create an account</a></p>
    </form>
    </div>
</body>
</html>

