<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="heading" >REGISTRATION FORM</div>
 	<div class="form">
    <form action="#" th:action="@{/signUp}" th:object="${user}" method="post">
    <input placeholder="name" type="text" th:field="*{name}" th:required="true" />
    <input id="email" placeholder="Email" type="email" th:field="*{email}" th:required="true"/>
	<input placeholder="Password" type="password" th:field="*{password}" th:required="true"/>
	<button type="submit" value="Submit" id="submitbtn" >Submit</button>
	<div th:if="${status} == 'error' ">
	 <input id="error-text" type="text" value="Registration Failed! Please try again !" />
	</div>
    <p class="message">Already registered? <a th:href="@{/login}">Login</a></p>
    </form>
    </div>
</body>
</html>
